// For new color's naming use https://coolors.co/color-picker

$stratos: #000133;
$tickle-me-pink: #fc86aa;
$stasman: #d8dcd6;

$polynesian-blue: #204983;
$oxford-blue: #102542;
$jordy-blue: #8cb0e3;
$celtic-blue: #3a78cf;
$yellow-green: #a2d729;
$asparagus: #759b1c;
$off-red: #f52b14;
$penn-red: #9d1607;
